.layout {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    display: grid;
    font-family: "Poppins", sans-serif;
}

.section-shown {
    padding: 70px 0 0 0;
}