*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  overflow-x: hidden;
}
html{
  background: rgb(231, 18, 36);
  background: radial-gradient(circle, rgba(231, 18, 36, 1) 0%, rgba(231, 18, 36, 0.7539390756302521) 95%);
  display:flex;
}
body {
  width: 100%;
  margin:auto;
}
.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding:0;
}